
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <!-- <h1>test</h1>ы -->
            <!-- {{ user.id }} -->
            <div class="shadow-lg p-3 mb-5 rounded-lg" style="padding: 30px;padding-top: 50px;width: 300px;">
                <h3 style="padding-top: 30px;">Your tasks</h3>   
                <a href="{% url 'add_category' %}" class="btn btn-primary" style="margin-bottom: 20px;">add category</a>
            
                <table class="table">
                    <tr>
                        <td><b>name</b></td>
                    </tr>
                    {% for item in cat_menu %}
                    {% if user.id == item.author_id %}
                    <tr>
                        <td>
                            <a href="{% url 'category' item %}">{{item}}</a> 
                            <button class="btn btn-danger" style="margin-left: 100px; color: white; float:right;">
                                <a href="{% url 'deleteCat' item.pk %}" >
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                    </svg>
                                </a>
                            </button>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor%}
                </table>
            </div>
            
                
           
            
        
    {% else %}
    
      
      
    {% endif %}




{% endblock %}
